# Paste your Github personal access token to clone the 'devdocs_inernal' repo.
# To generate a token:
# 1) Sign in to https://github.com/settings/tokens
# 2) At the top of the page, click **Generate new token**
# 3) If prompted, confirm your password
# 4) In the **Token description** field, enter a meaningful description.
# 5) Select the **repo** check box (this automatically selects other check boxes).
# 6) At the bottom of the page, click **Generate token**
# 7) Click the **Copy** icon next to the token value
# 8) Replace <your GitHub token> with the personal access token you've just generated.

# github_token:  <your GitHub token>
