# Name of the base branch in GitHub PRs
base_branch: master

# Repos for scanning
repos:
  - magento/devdocs

# Labels for filtering
labels:
  - New doc
  - Major update
  - Technical

# Output format
output_format:
  - markdown
#  - yaml
